@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Kaisei+Tokumin&display=swap');

*{

    font-family: 'Hina Mincho', serif;
    font-family: 'Kaisei Tokumin', serif;
}

.whatsapp-link{

    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp{
    margin-top: 16px;
}

body{

    background-color:rgb(17, 12, 12)

}



header{

    background-color: black;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    text-align: center;
    
}

input{

    border: none;
    width: 600px;
    margin: 0;
}

button{

    border: none;
    margin: 0;
}

form{

    border: 2px black solid;
    display: inline-block;
    margin: auto;
}

.dropdown{

    display: inline;
    
}

figure{

    position: absolute;
    right: 20px;
}

.card{

    margin: auto;
    margin-top: 30px;
}